body{
    background-color: #0d0d0d;
    color: #f9f6f6 !important;
    overflow-x: hidden !important;
}

.cursor-pointer {
    cursor: pointer;
}

.meal-layer {
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}

.meal:hover .meal-layer {
    top: 0;
}

input::placeholder { 
    color: #6C757D !important;
    opacity: 1; 
}

.loading-screen {
    z-index: 999;
    display: flex;
}

.side-nav-menu {
    z-index: 99;
}

.logo {
    width: 50px;
}

.nav-tab {
    background-color: #0D0D0D;
}

.inner-loading-screen {
    position: absolute;
    z-index: 9;
    background-color: #0D0D0D;
    display: flex;
}

i{
    cursor: pointer;
}

.alert{
    width: fit-content;
}

.alert-danger {
    --bs-alert-color: #E9868F;
    --bs-alert-bg: #2C0B0F;
    --bs-alert-border-color: #831F29;
    --bs-alert-link-color: #831F29;
}

.btn-outline-warning {
    --bs-btn-color: #FDCF0F;
    --bs-btn-border-color: #FDCF0F;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #FDCF0F;
    --bs-btn-hover-border-color: #FDCF0F;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #FDCF0F;
    --bs-btn-active-border-color: #FDCF0F;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FDCF0F;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #FDCF0F;
    --bs-gradient: none;
}